<!DOCTYPE html>
<html lang="en">
<head>
    <title>GENIE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/homePageStyle.css') }}">

</head>
<body>
    <div class="main">
        <div class="navbar">
        </div>
        <div class="content">
            <h1>GENIE</h1>
            <div class="navbar">
                <div class="search">
                    <form action="/data" method = "POST">
			            <input id="search" type="search" class="srch" name="topic" placeholder="Search..." color="white">
                        <button type="submit" class="btn" id="submitbutton" onclick="submitForm(this);"
                                data-loading-text="<i class='fa fa-spinner fa-spin'></i>"
                        >
                            <i class="fa fa-search"></i>
                        </button>
		            </form>
                </div>
            </div>

            <p class="par">Accelerate the new knowledge </p>

            <div class="tutorial">
                <a href="/tutorial" class="tutorialButton">Tutorial</a>
            </div>
            <div class="info">
                <a href="/info" class="infoButton">More</a>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script type="text/javascript">
        function submitForm(btn) {
            btn.form.submit();
            btn.disabled = true;
            btn.innerHTML = btn.getAttribute('data-loading-text');
            btn.value="Submitting";
            // submit form
        }
    </script>
</body>
</html>
