<!DOCTYPE html>
<html lang="en">
<head>
    <title>GENIE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/tutorialStyle.css') }}">
</head>

    <body>
        <div class="content">
            <div class="main">
                <h1>How to use GENIE</h1>
                <div class="tutorialText">
                    <ul>
                        <li> GENIE is a website that allows you to summarize the best articles on your subject of choice.</li>
                        <li>Simply type your subject of choice in the search bar and click on the "Search" button.</li>
                        <li>GENIE will then summarize 3 articles  on your subject of choice(can take some time).</li>
                        <li>We are working on adding more articles and improving how articles are selected</li>
                    </ul>
                    <div class="home">
                        <a href="/" class="button">Return to Home</a>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>