body{
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0)50%,rgba(0, 0, 0)50%);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
}

h1{
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
}